{% load wagtailadmin_tags %}

<div
    class="wn-panel"
    data-controller="wn-panel"
    data-wn-panel-recipients-url-value="{% url "wagtail_newsletter:recipients" %}"
    data-action="
        wn-test:submit@window->wn-panel#test
        wn-send:submit@window->wn-panel#send
    "
>
    {% if error_message %}
        <div class="help-block help-critical">
            {% icon name="warning" %}
            {{ error_message }}
        </div>
    {% endif %}

    {% if sent %}
        {% block campaign_status %}
            <p>
                <b>Status:</b>
                {{ campaign.status }}
            </p>

            {% if report %}
                {% if report.send_time %}
                    <p>
                        <b>Send time:</b>
                        {{ report.send_time }}
                        ({{ report.send_time|timesince }} ago).
                    </p>
                {% endif %}

                <p>
                    <b>Emails sent:</b>
                    {{ report.emails_sent }} ({{ report.bounces }} bounces)
                </p>

                <p>
                    <b>Opens:</b>
                    {{ report.opens }}
                </p>

                <p>
                    <b>Clicks:</b>
                    {{ report.clicks }}
                </p>
            {% endif %}
        {% endblock %}

    {% else %}

        {% if has_action_permission %}
            <div class="help-block help-info">
                {% icon name="help" %}
                These actions will save a new page revision.
            </div>
        {% endif %}

        <p>
            <input
                type="hidden"
                name="newsletter-test-email"
                data-wn-panel-target="testAddress"
            >

            {% if has_action_permission.save_campaign %}
                <button
                    type="submit"
                    class="button button-secondary button-longrunning"
                    name="newsletter-action"
                    value="save_campaign"
                    data-controller="w-progress"
                    data-action="w-progress#activate"
                >
                    {% icon name="spinner" %}
                    Save campaign to {{ backend_name }}
                </button>
            {% endif %}

            {% if has_action_permission.send_test_email %}
                <button
                    type="button"
                    class="button button-secondary button-longrunning"
                    data-a11y-dialog-show="wn-test-dialog"
                    data-controller="w-progress"
                    data-wn-panel-target="testButton"
                >
                    {% icon name="spinner" %}
                    Send test email
                </button>
            {% endif %}

            {% if has_action_permission.send_campaign %}
                <button
                    type="button"
                    class="button button-primary button-longrunning"
                    data-controller="w-progress"
                    data-wn-panel-target="sendButton"
                    data-action="wn-panel#clickSend"
                >
                    {% icon name="spinner" %}
                    Send campaign
                </button>
            {% endif %}

            {% dialog icon_name="mail" id="wn-test-dialog" title="Send test email" %}
                <form
                    data-controller="wn-test"
                    data-action="wn-test#submit:prevent"
                >
                    {% include "wagtailadmin/shared/field.html" with field=test_form.email %}

                    <button type="submit" class="button button-primary">Send</button>
                    <button type="button" class="button button-secondary" data-action="w-dialog#hide">Cancel</button>
                </form>
            {% enddialog %}

            {% dialog icon_name="mail" id="wn-recipients-required" title="Send campaign" %}
                <div class="help-block help-warning">
                    {% icon name="warning" %}
                    <p>You must frist select recipients for the newsletter.</p>
                </div>
                <button type="button" class="button" data-action="w-dialog#hide">Continue</button>
            {% enddialog %}

            {% dialog icon_name="mail" id="wn-send-dialog" title="Send campaign" %}
                <form
                    class="loading-mask"
                    data-controller="wn-send"
                    data-action="
                        wn-send#submit:prevent
                        wn-panel:showSendDialog@window->wn-send#show
                    "
                >
                    <div class="help-block help-info">
                        {% icon name="warning" %}
                        <p data-wn-send-target="message"></p>
                    </div>

                    <button type="submit" class="button button-primary">Send</button>
                    <button type="button" class="button button-secondary" data-action="w-dialog#hide">Cancel</button>
                </form>
            {% enddialog %}

            <button
                type="submit"
                class="w-hidden"
                name="newsletter-action"
                value="send_test_email"
                data-wn-panel-target="testSubmit"
            >
                Send test email
            </button>

            <button
                type="submit"
                class="w-hidden"
                name="newsletter-action"
                value="send_campaign"
                data-wn-panel-target="sendSubmit"
            >
                Send campaign
            </button>
        </p>
    {% endif %}

    {% if campaign %}
        <p>
            <a href="{{ campaign.url }}" target="_blank">
                {% icon name="link-external" classname="w-w-4 w-h-4" %}
                Open campaign in {{ backend_name }}
            </a>
        </p>
    {% endif %}

    {% if self.instance.pk and has_action_permission.save_campaign %}
        <p>
            <a href="{% url "wagtail_newsletter:history" page_id=self.instance.pk %}">
                {% icon name="history" classname="w-w-4 w-h-4" %}
                History
            </a>
        </p>
    {% endif %}
</div>
