__pycache__/
*.py[co]
/build
/dist
/wagtail_newsletter.egg-info
/.coverage
/htmlcov
/.tox
/.venv
/venv
/.vscode
/site
/test_wagtail_newsletter.db
/node_modules
/test-static
/test-media
/docs/_build
/demo/db.sqlite3
/demo/static_root
/demo/media_root
